.header {
    height: 150px ;
    margin-top: 20px ;
    display: grid ;
    grid-template-columns:repeat(2, 1fr) ;
    grid-gap: 50px ;

    .contLogo {

        .logoImg {
            @include imgLogo ;
            margin-top: 20px ;
            margin-left: 40px ;
        }

        .logoText {
            @include fontLogo ;
        }
    }

    .navMenu {

        .navUl {
            list-style-type: none ;
            text-align: end ;
            margin-top: 20px ;

            .navLi {
                @include fontMenu ;
                display: inline ;
                margin-left: 20px ;
            }
        }
    }
}
