$media-small-xs: 200px;
$media-small: 575px;
$media-medium: 990px;
$media-tall: 1200px;

/*

// Media Mobile Default
@media screen and (max-width: $media-small) and (orientation:portrait) {}

// Media Tablet
@media screen and (min-width: $media-small) and (max-width: $media-medium) and (orientation:portrait) {}

*/