@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@400;500;600;700;800&display=swap");
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

/*

// Media Mobile Default
@media screen and (max-width: $media-small) and (orientation:portrait) {}

// Media Tablet
@media screen and (min-width: $media-small) and (max-width: $media-medium) and (orientation:portrait) {}

*/
.header {
  padding: 0% 8%;
  height: 150px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
}
.header .contLogo .logoImg {
  width: 80px;
  height: 80px;
  margin-top: 20px;
  margin-left: 40px;
}
.header .contLogo .logoText {
  font-family: "Spectral", serif;
  font-size: 40px;
  font-weight: 700;
  color: #f0f0f0;
}
.header .navMenu .menuBurger {
  display: none;
}
.header .navMenu .navUl {
  list-style-type: none;
  text-align: end;
  margin-top: 20px;
}
.header .navMenu .navUl .navLi {
  font-family: serif;
  font-size: 18px;
  font-weight: 400;
  color: #f0f0f0;
  display: inline;
  margin-left: 20px;
}

.contHome {
  padding: 260px 50% 0px 8%;
  heigth: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(../../../public/backgroundHome.jpg);
  background-size: cover;
  display: grid;
  margin-top: -175px;
}
.contHome .titleHome {
  font-family: "Spectral", serif;
  font-size: 55px;
  fontweight: 500;
  color: #f0f0f0;
}
.contHome .textHome {
  font-family: serif;
  font-size: 20px;
  font-weight: 400;
  color: #cfcfcf;
}
.contHome .btnHome {
  border: none;
  border-radius: 5px;
  background-color: #ff9a00;
  padding: 10px;
  width: 180px;
  margin-top: 30px;
}
.contHome .btnHome a {
  font-family: serif;
  font-size: 18px;
  font-weight: bold;
  color: #313131;
}
.contHome .spanHome {
  margin-top: 100px;
  margin-bottom: 100px;
}
.contHome .spanHome .imgLocation {
  width: 30px;
  height: 30px;
  display: inline;
  vertical-align: middle;
}
.contHome .spanHome .textLocation {
  font-family: serif;
  font-size: 15px;
  font-weight: 400;
  color: #cfcfcf;
  display: inline;
}

.contBread {
  padding: 0% 8%;
  height: 800px;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url(../../../public/backgroundBread.jpg);
  background-size: cover;
}
.contBread .titleBread {
  font-family: "Spectral", serif;
  font-size: 55px;
  fontweight: 500;
  color: #f0f0f0;
  color: #e38900;
  text-align: center;
}
.contBread .contCard {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}
.contBread .contCard .card {
  background-color: #1a1a1a;
  padding: 10%;
  text-align: center;
}
.contBread .contCard .card .imgCard {
  width: 120px;
  height: 120px;
  margin: auto;
  display: block;
  margin-bottom: 20px;
}
.contBread .contCard .card .moneyCard {
  font-family: serif;
  font-size: 20px;
  font-weight: 400;
  color: #e38900;
  display: inline;
  margin-right: 12px;
}
.contBread .contCard .card .titleCard {
  font-family: serif;
  font-size: 20px;
  font-weight: 400;
  color: #cfcfcf;
  display: inline;
  margin-left: 12px;
}
.contBread .btnCard {
  border: none;
  border-radius: 5px;
  background-color: #ff9a00;
  padding: 10px;
  width: 180px;
  margin-top: 30px;
  display: block;
  margin: auto;
  margin-top: 40px;
}
.contBread .btnCard a {
  font-family: serif;
  font-size: 18px;
  font-weight: bold;
  color: #313131;
}

.futter {
  height: 40px;
  background-color: #313131;
  padding: 0px;
}

@media screen and (min-width: 575px) and (max-width: 990px) and (orientation: portrait) {
  .header {
    padding: 0% 5%;
  }
  .header .navMenu .menuBurger {
    display: block;
    width: 50px;
    heigth: 50px;
    margin-left: 90%;
  }
  .header .navMenu .navUl {
    display: none;
  }
  .contHome {
    padding: 260px 40% 0px 5%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(../../../public/backgroundHomeMobile.jpg);
    background-size: cover;
  }
  .contBread {
    padding: 0% 5%;
  }
}/*# sourceMappingURL=index.css.map */